# Multi-Linear Regression

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score

In [3]:
df = pd.read_csv("loanf.csv")

In [4]:
df.keys()

Index(['Interest.Rate', 'FICO.Score', 'Loan.Length', 'Monthly.Income',
       'Loan.Amount'],
      dtype='object')

In [5]:
df

      Interest.Rate  FICO.Score  Loan.Length  Monthly.Income  Loan.Amount
6             15.31         670           36         4891.67         6000
11            19.72         670           36         3575.00         2000
12            14.27         665           36         4250.00        10625
13            21.67         670           60        14166.67        28000
21            21.98         665           36         6666.67        22000
...             ...         ...          ...             ...          ...
2472           7.90         770           36         5166.67        19000
2481           6.03         760           36         5000.00        10000
2482           6.62         810           36         9250.00        27000
2486          10.75         765           36         7083.33        25000
2497          14.09         740           60         8903.25        16000

[2500 rows x 5 columns]

In [6]:
x = df.iloc[:,[1,4]].values
y = df.iloc[:,0].values
'''or
x = df[["FICO.Score","Loan.Amount"]]
y = df[Interest.Rate]'''

'or\nx = df[["FICO.Score","Loan.Amount"]]\ny = df[Interest.Rate]'

In [7]:
x

array([[  670,  6000],
       [  670,  2000],
       [  665, 10625],
       ...,
       [  810, 27000],
       [  765, 25000],
       [  740, 16000]], dtype=int64)

In [8]:
y

array([15.31, 19.72, 14.27, ...,  6.62, 10.75, 14.09])

In [9]:
model = LinearRegression()

In [10]:
model.fit(x,y)

LinearRegression()

In [11]:
model.intercept_

72.88279831676894

In [12]:
model.coef_

array([-0.08844242,  0.00021075])

In [13]:
df

      Interest.Rate  FICO.Score  Loan.Length  Monthly.Income  Loan.Amount
6             15.31         670           36         4891.67         6000
11            19.72         670           36         3575.00         2000
12            14.27         665           36         4250.00        10625
13            21.67         670           60        14166.67        28000
21            21.98         665           36         6666.67        22000
...             ...         ...          ...             ...          ...
2472           7.90         770           36         5166.67        19000
2481           6.03         760           36         5000.00        10000
2482           6.62         810           36         9250.00        27000
2486          10.75         765           36         7083.33        25000
2497          14.09         740           60         8903.25        16000

[2500 rows x 5 columns]

In [14]:
def InterestRate(FICO,Amount):
    rate = model.predict([[FICO,Amount]])
    print(""" Interest Rate for loan Amount {a} with FICO Score
    {s} is : {r}%""".format(a = Amount,s = FICO,r = int(rate)))

In [15]:
InterestRate(600,1200)

 Interest Rate for loan Amount 1200 with FICO Score
    600 is : 20%

In [16]:
import warnings
warnings.filterwarnings("ignore")
from IPython.html.widgets import interact

In [17]:
interact(InterestRate,FICO = (100,1000),Amount = (1000,50000))

interactive(children=(IntSlider(value=550, description='FICO', max=1000, min=100), IntSlider(value=25500, descâ€¦

# Logistic Regression

In [18]:
df["TF"] = df["Interest.Rate"] <17

In [19]:
x = x
y = df["TF"].values

In [20]:
import warnings
warnings.filterwarnings("ignore")

In [23]:
reg =  LogisticRegression()

In [24]:
reg.fit(x,y)

LogisticRegression()

In [25]:
reg.predict([[100,20000]])

array([False])

In [26]:
reg.predict_proba([[100,20000]])

array([[0.84338775, 0.15661225]])

In [27]:
def LoanPredict(FICO,Amount):
    p = reg.predict_proba([[FICO,Amount]])
    if p[0][1] >0.7:
        print("Loan Approved")
    else:
        print("Loan Rejected")

In [28]:
interact(LoanPredict,FICO = (100,1000),Amount = (1000,50000))

interactive(children=(IntSlider(value=550, description='FICO', max=1000, min=100), IntSlider(value=25500, descâ€¦